<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>组件基础</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="components-demo">
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
    </div>
    
    <blog-post title="My journey with Vue"></blog-post>
    <blog-post title="Blogging with Vue"></blog-post>
    <blog-post title="Why Vue is so fun"></blog-post>
    <blog-post
    v-for="post in posts"
    v-bind:key="post.id"
    v-bind:title="post.title"
    ></blog-post>

    <div class="blog-post">
        <h3>{{ title }}</h3>
        <div v-html="content"></div>
    </div>

    <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:title="post.title" v-bind:content="post.content" v-bind:publishedAt="post.publishedAt" v-bind:comments="post.comments"></blog-post>

    <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:post="post"></blog-post>

    <div id="blog-posts-events-demo">
        <div :style="{ fontSize: postFontSize + 'em' }">
            <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:post="post"></blog-post>
        </div>
    </div>

    <button v-on:click="$emit('enlarge-text')">
        Enlarge text
    </button>

    <blog-post
        ...
        v-on:enlarge-text="postFontSize += 0.1"
    ></blog-post>

    <script type="text/javascript">
        Vue.component('button-counter', {
            data: function () {
                return {
                    count: 0
                }
            },
            template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
        })

        new Vue({ el: '#components-demo'})

        全局注册
        Vue.component('my-component-name', {
            //... options ...
        })

        Vue.component('blog-post', {
            props: ['title'],
            template: '<h3>{{ title }}</h3>'
        })

        new Vue({
            el: '#blog-post-demo',
            data: {
                posts: [
                { id: 1, title: 'My journey with Vue' },
                { id: 2, title: 'Blogging with Vue' },
                { id: 3, title: 'Why Vue is so fun' }
                ]
            }
        })

        Vue.component('blog-post', {
            props: ['post'],
            template: `
                <div class="blog-post">
                <h3>{{ post.title }}</h3>
                <div v-html="post.content"></div>
                </div>
            `
        })

        new Vue({
            el: '#blog-posts-events-demo',
            data: {
                posts: [/* ... */],
                postFontSize: 1
            }
        })

        Vue.component('blog-post', {
            props: ['post'],
            template: `
                <div class="blog-post">
                <h3>{{ post.title }}</h3>
                <button>
                    Enlarge text
                </button>
                <div v-html="post.content"></div>
                </div>
            `
        })
    </script>
</body>
</html>